@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  form input, form select {
    margin-top: 15px;
  }

  input, select {
    background-color: #E2E8F0;
    height: 59px;
    border-radius: 10px;
    padding: 20px;
  }

  select {
    padding-left: 18px;
  }

  label {
    color: #718096;
    font-size: 1rem;
    font-weight: 500;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
